@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
button:focus {
  outline: none;
}
html {
  font-size: 10px;
}
body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background: #f9f1e7;
}
.container {
  padding: 0 120px;
}
.wrapper {
  margin: 0 auto;
  min-width: 300px;
  max-width: 1440px;
  width: 100%;
  overflow: hidden;
}
.title {
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 5.5rem;
  font-weight: 800;
  font-style: normal;
  color: #333333;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 30px;
}
.content-text {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  text-align: justify;
  line-height: 1.5;
}
.dark {
  color: #333333;
}
.light {
  color: #f9f1e7;
}
.header {
  max-width: 1440px;
  width: 100%;
  height: 1000px;
  padding-top: 1px ;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../img/header_bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.header__inner {
  margin: 25px 35px 0 35px;
  padding: 7px 65px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 10px 10px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner__logo {
  width: 70px;
  height: 60px;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
.header__inner__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__inner__nav__link {
  margin: 0 10px;
  padding: 0 10px;
  position: relative;
  text-decoration: none;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}
.header__inner__nav__link:hover {
  color: #fae264;
}
.header__inner__nav__link:hover::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 0%;
  background-color: #fae264;
}
.header__inner__nav__link:hover::after {
  content: "";
  width: 110%;
  height: 1px;
  position: absolute;
  top: 125%;
  left: -5%;
  background-color: #fae264;
}
.header__inner__nav__link:active {
  color: #ff4500;
}
.header__inner__nav__link:active::before,
.header__inner__nav__link:active::after {
  background-color: #ff4500;
}
.header__inner__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__inner__contact__phone,
.header__inner__contact__email {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-decoration: none;
}
.header__inner__contact__phone:hover,
.header__inner__contact__email:hover {
  color: #fae264;
}
.header__inner__contact__phone::before,
.header__inner__contact__email::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0%;
  left: -15%;
  background-image: url(../img/phone-call-header.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.header__inner__contact__phone {
  display: block;
  position: relative;
}
.header__inner__contact__phone::before {
  background-image: url(../img/phone-call-header.svg);
}
.header__inner__contact__schedule {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  padding-bottom: 7px;
}
.header__inner__contact__email {
  position: relative;
}
.header__inner__contact__email::before {
  background-image: url(../img/email-header.svg);
}
.header__nav {
  margin: 0px 35px;
  padding: 10px 65px;
  border-top: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 0px 0px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav__link {
  width: calc(25%);
  padding: 3px 0;
  border: transparent solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.header__nav__link:hover {
  border: #fae264 solid 1px;
  border-radius: 10px;
}
.header__nav__link:active {
  background-color: rgba(179, 223, 22, 0.3);
}
.header__nav__link::before {
  content: '';
  display: block ;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.header__nav__link--kitchen::before {
  background-image: url(../img/kitchen-nav.svg);
}
.header__nav__link--wardrobe::before {
  background-image: url(../img/closet-nav.svg);
}
.header__nav__link--commode::before {
  background-image: url(../img/commode-nav.svg);
}
.header__nav__link--wardrobe-coupe::before {
  background-image: url(../img/ward-coupe-nav.svg);
}
.header__title {
  width: 50%;
  height: calc(-40vh);
  margin-left: auto;
  margin-top: 13%;
}
.header__title__text {
  padding: 0 35px 0 0;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 6rem;
  font-weight: 800;
  font-style: normal;
  color: #ffffff;
}
.header__title__btn {
  margin-top: 30px;
}
.btn {
  cursor: pointer;
  padding: 15px 35px;
  border: #fae264;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fae264;
  border-radius: 15px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  font-style: normal;
  color: #333333;
}
.btn:hover {
  -webkit-box-shadow: 0px 4px 20px 4px rgba(250, 226, 100, 0.5);
          box-shadow: 0px 4px 20px 4px rgba(250, 226, 100, 0.5);
}
.btn:active {
  -webkit-box-shadow: 0px 4px 20px 4px rgba(250, 226, 100, 0.7);
          box-shadow: 0px 4px 20px 4px rgba(250, 226, 100, 0.7);
}
.about {
  max-width: 1200px;
  width: 100%;
  margin: -150px auto 0;
  padding-bottom: 100px;
  background-color: #ffffff;
  border-radius: 15px;
  background-image: url(../img/about_bgi.svg), url(../img/about_bgi_rotate.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right, -9% -27%;
}
.about__text {
  text-indent: 3rem;
  padding-bottom: 20px;
}
.about__img {
  margin: -100px auto 75px;
  width: 811px;
  height: 541px;
  background-color: #fae264;
  background-image: url(../img/about__img.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.advantage {
  width: 100%;
  padding-bottom: 30px;
  background-color: #333333;
  background-image: url(../img/square_bg.jpg);
  background-repeat: repeat;
  background-position: center;
  background-size: auto;
}
.advantage__inner {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.advantage__item {
  width: 20%;
  padding: 20px;
  border: 2px solid #f9f1e7;
  border-radius: 10px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.advantage__item__text {
  margin-top: 20px;
  text-align: center;
}
.advantage__item__img {
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  fill: #f9f1e7;
}
.advantage__item:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  background-color: #96928d5d;
}
.advantage__item:hover .advantage__item__text {
  color: #fae264;
}
.advantage__item:hover .advantage__item__img {
  fill: #fae264;
}
.footer {
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.footer::before {
  content: "";
  width: 80%;
  height: 1px;
  background: #333333;
  position: absolute;
  top: 0rem;
  left: 110px;
}
.footer__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__nav {
  width: 40%;
}
.footer__nav__title {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
  color: #333333;
  margin: 3rem 0 2rem 0;
}
.footer__nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__nav__link__item {
  text-decoration: none;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  padding: 0.5rem 2rem 0.5rem 0;
  position: relative;
}
.footer__nav__link__item:hover {
  color: #000000;
  text-decoration: underline;
}
.footer__nav__link__item:active {
  color: orangered;
}
.footer__social {
  width: 30%;
}
.footer__about {
  width: 30%;
}
.footer__copyright {
  margin-top: 7rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body.lock {
  overflow: hidden;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.modal.open {
  opacity: 1;
  visibility: visible;
}
.modal.open .modal__content {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.modal__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}
.modal__content {
  max-width: 550px;
  margin: 0 auto;
  background-color: #fff;
  color: #333333;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.6rem;
  text-decoration: none;
  color: #333333;
  padding: 2px 6px;
  -webkit-transition: all 0,5s ease 0s;
  transition: all 0,5s ease 0s;
}
.modal__close:hover {
  background-color: #fae264;
  border-radius: 4px;
}
.modal__close:active {
  background-color: #ff4500;
  border-radius: 4px;
}
.form * {
  outline: none;
}
.form__body {
  position: relative;
}
.form__title {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  font-style: normal;
  color: #333333;
  margin-bottom: 30px;
}
.form__item {
  margin-bottom: 20px;
}
.form__label {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  display: block;
  margin-bottom: 5px;
}
.form__input {
  height: 35px;
  padding: 0 20px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #333333;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: #333333;
}
.form__input:focus {
  -webkit-box-shadow: 0px 1px 10px 3px rgba(245, 201, 144, 0.3);
          box-shadow: 0px 1px 10px 3px rgba(245, 201, 144, 0.3);
}
.form__input._error {
  -webkit-box-shadow: 0px 1px 10px red;
          box-shadow: 0px 1px 10px red;
}
.form__button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  background-color: #fae264;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  font-style: normal;
  color: #333333;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: relative;
  top: 0;
  -webkit-box-shadow: 10px 10px 6px -6px rgba(209, 192, 104, 0.6);
          box-shadow: 10px 10px 6px -6px rgba(209, 192, 104, 0.6);
}
.form__button:hover {
  background-color: #d1c068;
}
.form__button:active {
  top: 3px;
  -webkit-box-shadow: 10px 10px 6px -6px rgba(209, 192, 104, 0);
          box-shadow: 10px 10px 6px -6px rgba(209, 192, 104, 0);
}
textarea.form__input {
  min-height: 120px;
  resize: vertical;
  padding: 10px;
}
.file__item {
  position: relative;
}
.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}
.file__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 40px;
  border-radius: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fae264;
  padding: 0 20px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: normal;
  color: #333333;
}
.file__preview {
  display: inline-block;
  max-width: 100px;
  padding: 10px 0 0 0;
}
.file__preview img {
  max-width: 100%;
}
.checkbox._error .checkbox__label::before {
  -webkit-box-shadow: 0px 1px 10px red;
          box-shadow: 0px 1px 10px red;
}
.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__label::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.checkbox__label {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  line-height: 140%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}
.checkbox__label a {
  color: #ff4500;
}
.checkbox__label::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #333333;
  margin-right: 10px;
}
.checkbox__label::after {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4.3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ff4500;
  border-radius: 4px;
  -webkit-transform: scale(0);
          transform: scale(0);
}
