// ===== Подключаю шрифты Fonts =====
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

// ===== Variables =====
@body_bg: #F9F1E7;
@light: #F9F1E7;
@black: #000000;
@white: #ffffff;
@dark: #333333;
@yellow: #FAE264;
@yellow_dark: #d1c068;
@orange: orangered;

// ===== Mixins =====

.text(@family, @size, @weight, @color) {
    font-family: @family, Arial, Helvetica, sans-serif;    
    font-size: @size;
    font-weight: @weight;
    font-style: normal;    
    color: @color;
}

// ===== Common Styles =====

*, 
*::after,
*::before{
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

button:focus {
    outline: none;
}

html{     
    font-size: 10px;        
}

body{        
    .text(Montserrat, 10px, 400, @dark); 
    background: @body_bg;
}

.container{
    padding: 0 120px;
}
.wrapper{
    margin: 0 auto;
    min-width: 300px;
    max-width: 1440px;
    width: 100%;
    overflow: hidden;
}

.title{
    .text(Nunito, 5.5rem, 800, @dark);
    text-align: center;
    padding-bottom: 15px;
    padding-top: 30px;
}
.content-text{
    .text(Montserrat, 1.6rem, 400, @dark);
    text-align: justify;
    line-height: 1.5;
}
.dark{
    color: @dark;
}
.light{
    color: @light;
}

// ===== Header =====
.header{
    height: 90vh;
    width: 100vw;
    background-image: url(../img/header_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__nav{
        height: 6vh;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }    
}

// ===== Header Navigation =====
.nav{    
    background-color: @yellow;
    &__link{
        .text(Montserrat, 2rem, 700, @dark);
        text-decoration: none;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 10px;
        position: relative;
        &[href="/catalog"]{
            position: relative;
        }
        &[href="/catalog"]::after {
            content: "\25BC";
            padding-left: 10px;
            .text(Montserrat, 2rem, 700, @dark);
        }
        &:hover{
            background-color: rgba(51, 51, 51, 0.3);           
        }
        &:active{
            background-color: rgba(51, 51, 51, 0.5);
        }        
    }
}

// ===== Dropdown (работа с выпадающим меню в шапке сайта)=====
.dropdown{   
    position: relative;
    &:hover .dropdown__content{
        display: block;
        visibility: visible;
        opacity: 1;
    }
    &__content{ 
        visibility: hidden; 
        opacity: 0;    
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 10px;        
        background-color: @yellow;
        border-radius: 0 0 10px 10px; 
        transition: opacity 0.3s,  linear 0.3s;              
        & a{
            display: block;
            text-decoration: none;
            .text(Montserrat, 1.6rem, 700, @dark);
            padding-top: 5px;
            padding-bottom: 5px;            
            &:hover{
                color: @black;
            }
            &:after{
                display: block;
                content: "";
                height: 3px;
                width: 0%;
                background-color: @dark;
                transition: width .3s ease-in-out;
            }
            &:hover:after{
                width: 65%;
            }
        }
    }   
}

.company{
    &__info{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__item{
        display: inline-block;
        .text(Montserrat, 2rem, 700, @light);
        text-decoration: none;
        position: relative;
        padding-top: 5px;
        padding-bottom: 5px;
        &::before{
            content: "";
            width: 24px;
            height: 24px;
            position: absolute;
            top: 15%;
            left: -15%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;            
        }
    }
    &__logo{
        display: flex;
        align-items: center;
        text-decoration: none; 
        &:hover svg{
            transform: scale(1.3);
        }
        & svg{
           transition: transform 0.5s linear;
        }   
        &__title{            
            padding-left: 20px;
            .text(Montserrat, 2.6rem, 400, @light);
        }
    }
    &__contact{    
        display: flex;
        flex-direction: column;
        &-phone:hover,
        &-email:hover{
            color: @yellow;
        }
        &-phone::before{
            background-image: url(../img/phone-call-header.svg);
        }
        &-email::before{  
            background-image: url(../img/email-header.svg);
        }
    }    
}

.header__title {
    width: 40%;
    height: calc(-40vh);
    margin-left: auto;
    margin-top: 13%;
}

.title__text{
    padding: 0 35px 0 0;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 6rem;
    font-weight: 800;
    font-style: normal;
    color: #ffffff;
}

.btn {
    cursor: pointer;
    padding: 15px 35px;
    border: #fae264;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #fae264;
    border-radius: 15px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
    font-style: normal;
    color: #333333;
}

.header__title__btn {
    margin-top: 30px;
}

// ===== Modal Window =====
body.lock{
    overflow: hidden;
} 

.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
    &.open{
        opacity: 1;
        visibility: visible;
    }
    &.open .modal__content{
        transform: translate(0px, 0px);
        opacity: 1;
    }
    &__body{
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
    }
    &__content{
        max-width: 550px;
        margin: 0 auto;
        background-color: #fff;
        color: @dark;        
        padding: 30px;
        position: relative;
        transition: all 0.8s ease 0s;
        opacity: 0;
        transform: translate(0px, -100%);
    }
    &__close{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.6rem;
        text-decoration: none;
        color: @dark;
        padding: 2px 6px;
        transition: all 0,5s ease 0s;
        &:hover{
            background-color: @yellow;
            border-radius: 4px;
        }
        &:active{
            background-color: @orange;
            border-radius: 4px;
        }
    }
}

// ===== Стилизация формы =====

.form{
    & *{
        outline: none;
    }
    &__body{
        position:relative;
        // &::after{
            
        // }
    }
    &__title{
        .text(Montserrat, 3rem, 700, @dark);
        margin-bottom: 30px;
    }
    &__item{
        margin-bottom: 20px;
    }
    &__label{
        .text(Montserrat, 1.6rem, 400, @dark);
        display: block;
        margin-bottom: 5px;
    }
    &__input{
        height: 35px;
        padding: 0 20px;
        border-radius: 5px;
        width: 100%;
        border: 1px solid @dark;
        .text(Montserrat, 1.6rem, 400, @dark);
        &:focus{
            box-shadow: 0px 1px 10px 3px rgba(245, 201, 144, 0.3);
        }
        &._error{
            box-shadow: 0px 1px 10px red;
        }

    }
    &__button{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50px;
        background-color: @yellow;
        .text(Montserrat, 1.8rem, 700, @dark);
        cursor: pointer;
        border-radius: 20px;
        border: 1px solid transparent;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all 0.5s ease 0s;
        position: relative;
        top: 0;
        box-shadow: 10px 10px 6px -6px rgba(209, 192, 104, 0.6);
        &:hover{
            background-color: @yellow_dark;
        }
        &:active{
            top: 3px;
            box-shadow: 10px 10px 6px -6px rgba(209, 192, 104, 0);
        }
    }
}
textarea.form__input{
    min-height: 120px;
    resize: vertical;
    padding: 10px;
}
.file{
    &__item{
        position: relative;        
    }
    &__input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        font-size: 0;
        cursor: pointer;
    }
    &__button{
        display: inline-flex;
        min-height: 40px;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        background-color: @yellow;
        padding: 0 20px;
        .text(Montserrat, 1.2rem, 400, @dark);
    }
    &__preview{
        display: inline-block;
        max-width: 100px;
        padding: 10px 0 0 0;
        & img{
            max-width: 100%;
        }
    }
}
.checkbox{
    &._error .checkbox__label::before{
        box-shadow: 0px 1px 10px red;
    }
    &__input{
        display: none;
        &:checked + .checkbox__label::after{
            transform: scale(1);
        }
    }
    &__label{
        .text(Montserrat, 1.6rem, 400, @dark);
        line-height: 140%;
        display: inline-flex;
        align-items: center;
        position: relative;
        cursor: pointer;        
        & a{
            color: @orange;
        }
        &::before{
            content: "";
            flex: 0 0 24px;
            height: 24px;
            align-self: flex-start;
            background-color: #fff;
            border-radius: 4px;
            border: 1px solid @dark;
            margin-right: 10px;
        }
        &::after{
            transition: all 0.5s ease 0s;
            content: "";
            width: 16px;
            height: 16px;
            position: absolute;
            top: 4px;
            left: 4.3px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: @orange;
            border-radius: 4px;
            transform: scale(0);
        }
    }
}